allcomments.Rdata
AllRegsGovRules.Rdata
comment_metadata.Rdata
datasheets
comment_metadata_CFPB.Rdata
comment_metadata_CFPB_df.Rdata
regs_dot_gov_actions.Rdata
rules_metadata.Rdata
notices2020-12-17.Rdata
nprms2020-12-17.Rdata
rules2020-12-17.Rdata
comment_text.zip
CFPBcomments2022-03-08.Rdata
allcomments-sample.Rdata
attachment-urls.Rdata
cfpb failed downloads.xlsx
comment_metadata2020.Rdata
comments_min.Rdata
comment_metadata_2020.Rdata
