allcomments.Rdata
AllRegsGovRules.Rdata
comment_metadata.Rdata
datasheets
comment_metadata_CFPB.Rdata
comment_metadata_CFPB_df.Rdata
regs_dot_gov_actions.Rdata
rules_metadata.Rdata
notices2020-12-17.Rdata
nprms2020-12-17.Rdata
rules2020-12-17.Rdata
comment_text.zip
CFPBcomments2022-03-08.Rdata
